body{
    background-color: #edeef5;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.container{
    padding: 60px;
    font-family:"Poppins",sans-serif;
    display: flex;
    justify-content: center;
}
.container h2{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.container input {
    padding: 10px 10px;
    width: 450px;
    font-size: 1em;
    border: 1px solid #444DDA;
    border-radius: 6px;
}
.container select{
    padding: 10px 10px;
    width: 450px;
    font-size: 1em;
    border: 1px solid #444DDA;
    border-radius: 6px;
   
}
.container button{
    border: 1px solid #444DDA;
    border-radius: 6px;
    background-color: #ffff;
    width: 100px;
    
}
.logo img {
    width: 250px; /* ปรับขนาดความกว้างของโลโก้ */
    height: auto; /* ปรับสัดส่วนความสูงของโลโก้โดยอัตโนมัติ */
    display: block; /* กำหนดให้รูปภาพอยู่ตรงกลางแนวนอน */
    margin: 20px; /* กำหนดระยะห่างของโลโก้จากขอบบนและขอบล่าง */
    border-top: 5px ; /* เพิ่มขอบบนโลโก้ */
    border-bottom: 5px; /* เพิ่มขอบล่างโลโก้ */
  }
