body{
    background-color: #edeef5;
    font-family: "Poppins", sans-serif;
    
}

.container-fluid .dropdown-manu{
    margin-left: 150px;
    margin-top: 30px;  
}

.card-profile{
    margin-top: 30px;
    margin-left: 30px;
    height: 145px;
    width: 420;
    box-shadow: 2px 2px 5px 0px rgba(0, 11, 132, 0.35);
    border-radius: 15px;
    background-color: #fff;
}
.card-profile .profile-image img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
    

}

.emp-profile{
    padding-left: 5px;
    padding-top: 30px;
}

.emp-profile img{
    margin-left: 20px;
    margin-bottom: 20px;
    

}
.emp-profile .profile-head{
    padding-top: 30px;
}
.col-md-7{
    width: 869px;
    height: 1150px;
    background-color: #fff;
    right: 30px;
}
.col-md-7 .col-sm-3{
    padding-right: 15px;
}
.tab span{
    color: #444DDA ;
    margin: 50px;
    font-size:larger;
    margin-bottom: 30px;
    
}
.tab a{
    color: #444DDA ;
    margin: 30px;
    font-size:larger;
    text-decoration: none;
  }
  .tab ul{
    margin-bottom: 10px;
    margin-left: 40px;
  }
   .tab-content input{
    border: 1px solid #444DDA;
   } 
   .tab-content{
    margin-left: 40px;
   }
   

    .selected-button {
        background: #444DDA !important;
        color: white !important;
    }


    